.container {
  max-width: 1333px;
  margin: 0 auto;
}

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

a {
	text-decoration: none;
}

.avatar {
	max-width: 50px;
	border-radius: 50%;
	overflow: hidden;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity .4s linear;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}
