.list {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 10px;
	border: 1px solid darken($color-mercury, 10%);
	border-radius: 4px;
	margin: 10px 0;

	&--triple {
		grid-template-columns: repeat(3, 1fr);
	}

	&__item {
		padding: 1rem;

		&:not(:first-child) {
			border-left: 1px solid darken($color-mercury, 10%);
		}

		&__label {
			color: $color-blue-dianne;
			display: block;
			font-size: .9rem;
			margin-bottom: 10px;
		}

		&__content {
			color: $color-jungle-green;
			font-size: 1.5rem;
			font-weight: bold;
		}
	}
}

